<!-- componente article.html -->
<article class="unaymilletras-post">
    <div class="unaymilletras-post-container">
        <div class="unaymilletras-post-image">
            <img src="{{ article.image.url }}" alt="{{ article.title }}">
        </div>
        <div class="unaymilletras-post-info">
            <div class="unaymilletras-post-categories">
                <a href="{%  %}">{{ article.category.name }}
                    {{ article.title }}
                </a>
            </div>
            <h4 class="unaymilletras-post-title">  
                <a href="{% url 'blog:article' article.slug %}" class="link">
                    {{ article.title }}
                </a>
            </h4>
            <div class="unaymilletras-post-meta">
                <span class="unaymilletras-post-author">
                    <a href="{% url 'blog:author' article.author.slug %}" class="link">
                        <img src="{{ article.author.profile_picture.url }}" alt="{{ article.author.get_full_name }}">
                        <span>{{ article.author.get_full_name }}</span>
                    </a>
                </span>
                <span class="unaymilletras-post-publication-date">
                    <p> {{ article.publication_date }}</p>
                </span>
                <span class="unaymilletras-post-coments">
                    <i class="fa-solid fa-x-clock"></i>
                    {{ article.reading_time }} 
                </span>
            </div>
            <p>{{ article.content|truncatewords:50 }}</p>
            <div> 
                <button href="{% url 'blog:article' article.slug %}" class="link">
                    <button class="unaymilletras-post-read-more">Leer más</button>
                </button>
            </div>
            <div class="unaymilletras-post-shared">
                <div class="unaymilletras-post-shared-icons">
                    <a href="https://www.facebook.com/sharer.php?u=link/" class="link " target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="http://twitter.com/share?url=link" class="link " target="_blank">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url=link" class="link " target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>