<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ category.name }} - Una y Mil Letras </title>
</head>
<body>
    <h1>Artículos en la categoría "{{ category.name }}"</h1>
    
    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.content }}</p>
                    <p>Fecha de publicación: {{ article.publication_date }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay artículos en esta categoría.</p>
    {% endif %}
</body>
</html>