<!-- category.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ category.name }} - Una y Mil Letras </title>
</head>
<body>
    {% include 'partials/header.html' %}
    <h1>Artículos en la categoría "{{ category.name }}"</h1>
    
    {% if articles %}
        {% for article in articles %}
                
        {% endfor %}
    {% else %}
        <p>No hay artículos en esta categoría.</p>
    {% endif %}
    {% include 'partials/footer.html' %}
</body>
</html>